PORT=3005
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/fe-mis
AUTH_SERVICE_URL=http://localhost:3001
EXTINGUISHER_SERVICE_URL=http://localhost:3002
INSPECTION_SERVICE_URL=http://localhost:3003
MAINTENANCE_SERVICE_URL=http://localhost:3004
